html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.category-name {
  margin-left: 2rem;
}

.nav-items {
  display: flex;
}

.nav-item {
  margin-left: 30px;
}

img.product-image {
  width: 100%;
}

.product-name {
  display: block;
}

.you-may-like-section {
  margin: 40px;
  max-width: 1440px;
  width: 100%;
}

.product-wrapper {
  margin-right: 15px;
}

span.options-title {
  margin-left: 10px;
}

.footer-options {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  background: #ededed;
}

span.divider {
  width: 2px;
  height: 30px;
  background: #ccc;
}

.footer-options-inner {
  color: grey;
}

.footer-menu {
  background: #000;
}

ul.menu-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: #fff;
  margin: 0;
  padding: 25px;
  border-bottom: 1px solid #fff;
  width: 90%;
  margin: 0 auto;
}

li.list-items {
  font-size: 12px;
  font-weight: 700;
}

li.list-item {
  margin: 15px 0px;
  font-size: 11px;
  font-weight: 400;
}

.copyright {
  background: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

span.social-icon {
  margin-right: 20px;
}

span.join-us {
  padding: 10px;
  border: 1px solid #fff;
  margin-left: 20px;
  font-size: 10px;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
}
